@media screen and (max-width: 992px){
    header{
        flex-direction: column;
    }
    main{
    #intro{
        #main-box-left{
                margin-top: 1rem;
                width: 30%;
            }
        }
        #main-box-right{
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
}
@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        nav{
            width: 70%;
            ul{
                margin: 0px auto;
            }
        };
    }
}
@media screen and (max-width: 600px){
    
}
@media screen and (max-width: 480px){
    
}
@media screen and (max-width: 414px){
    
}
@media screen and (max-width: 411px){
    header{
        flex-direction: column;
        nav {
            text-align: center;
            ul{
            flex-direction: column;
            margin: 0px auto;
            li{
                display: block;
                margin: 5px 0px;
            }
        }
        }
    }
    
}