@media screen and (max-width: 992px){
    header{
        flex-direction: column;
    }
    main{
        margin-top: 3rem;
    #intro{
            #main-box-left{
                    margin-top: 1rem;
                    width: 30%;
                }
            #main-box-right{
                h2{
                    font-size: 4rem;
                }
                p{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    footer{
        #footer-left{
            #contact-info{
                ul{
                    .table-h{
                        font-size: 1rem;
                    }
                    li{
                        font-size: 0.8rem;
                    }
                   
                    
                }
            }
        }
        #contact-form{
            form{
                input[type=text]{
                    height: 1rem;
                }
                input[textarea]{
                    height: 1rem;
                    resize: none;
                }
                input[type=email]{
                    height: 1rem;
                }
                .row{
                    margin-top: 0.7rem;
                    .col-25{
                        margin: 0 0.7rem 0 0;
                    }
                    .col-75{
                        justify-content: left;
                    }
                }
                .submit-button{
                    margin: 0.8rem auto;
                    width: 100%;
                }
            }    
        }
        #footer-right{
            
            padding-top: 5rem;
            #requested{
                font-size: 2.3rem;
                
                i{
                    color: $icons;
                }
            }
            p{
                margin-top: 1rem;
            }
        }
    }
}
@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        nav{
            width: 70%;
            ul{
                margin: 0px auto;
            }
        };
    }
}
@media screen and (max-width: 600px){
    
}
@media screen and (max-width: 480px){
    
}
@media screen and (max-width: 414px){
    
}
@media screen and (max-width: 411px){
    header{
        flex-direction: column;
        nav {
            text-align: center;
            ul{
            flex-direction: column;
            margin: 0px auto;
            li{
                display: block;
                margin: 5px 0px;
            }
        }
        }
    }
    
}