* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-image: url("../img/background-image.jpg");
  background-size: cover;
}

#wrapper {
  background-color: #000000;
  width: 80%;
  margin: 0px auto;
  background-color: #000000;
}

header {
  position: fixed;
  background-color: #161616;
  top: 0;
  width: 80%;
  padding: 0.7rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #logo {
  font-size: 3rem;
}
header #logo a {
  text-decoration: none;
  color: #e31c25;
}
header nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: end;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline;
  margin-left: 2rem;
  font-size: 1rem;
}
header nav a {
  text-decoration: none;
  color: #bb000e;
}
header nav a:hover {
  color: #c7cbd4;
}
header nav a:active {
  color: #e31c25;
}

main {
  width: 100%;
  padding-top: 5rem;
}
main #intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #c7cbd4;
  padding: 2rem 0;
  justify-content: space-evenly;
}
main #intro #main-box-left, main #intro #main-box-right {
  width: 25%;
}
main #intro #main-box-left img, main #intro #main-box-right img {
  width: 100%;
}
main #intro #main-box-right {
  width: 55%;
}
main #intro #main-box-right h2 {
  font-size: 5rem;
}
main #intro #main-box-right p {
  font-size: 3rem;
  margin-bottom: 1rem;
}
main #intro #main-box-right p .web-color {
  color: #bb000e;
}
main #intro #main-box-right #button {
  background-color: #e31c25;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
main #intro #main-box-right #button a {
  text-decoration: none;
  color: #c7cbd4;
}
main #box-container-upper-heading {
  scroll-margin-top: 6.2rem;
  width: 100%;
  color: #c7cbd4;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
main #box-container-upper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: #e31c25;
}
main #box-container-upper .box {
  width: 27%;
  padding: 1rem;
  background-color: #1c1c1c;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 0.033rem 0.01rem 0.1rem #ffffff;
}
main #box-container-upper .box i {
  font-size: 4rem;
  color: #e31c25;
}
main #box-container-upper .box h3 {
  color: #c7cbd4;
  margin-top: 1rem;
}
main #box-container-upper .box p {
  color: #c7cbd4;
  margin-top: 1rem;
}
main #box-container-lower {
  scroll-margin-top: 4.5rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
main #box-container-lower .box {
  display: block;
  background-color: #1c1c1c;
  box-shadow: 0.033rem 0.02rem 0.1rem #ffffff;
  color: #c7cbd4;
  width: 43%;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 1.5rem 0rem;
  flex-direction: column;
}
main #box-container-lower .box h3 {
  text-align: center;
}
main #box-container-lower .box p {
  text-align: justify;
  margin-top: 1rem;
}
main #box-container-lower .second {
  display: block;
  text-align: center;
}
main #box-container-lower .second .project-box {
  width: 100% auto;
  margin: 1rem 0.2rem;
}
main #box-container-lower .second .project-box img {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  color: #c7cbd4;
}
footer #footer-upper {
  display: flex;
  justify-content: space-between;
}
footer #footer-upper #contact-info {
  flex: 1;
  width: 40%;
  padding: 1em;
  border-radius: 0.5em;
}
footer #footer-upper #contact-info ul {
  list-style-type: none;
}
footer #footer-upper #contact-info ul li {
  list-style: none;
  color: #c7cbd4;
  font-size: 1em;
}
footer #footer-upper #contact-info ul li a {
  text-decoration: none;
  color: #c7cbd4;
}
footer #footer-upper #contact-info ul li a:hover {
  color: #e31c25;
}
footer #footer-upper #contact-info ul li a:active {
  color: #c7cbd4;
}
footer #contact-form {
  background-color: red;
  flex: 1;
  width: 40%;
  border-radius: 0.5rem;
}
footer #contact-title {
  color: #fff;
  text-align: center;
}
footer #contact-right form {
  color: #fff;
  text-align: center;
}
footer #contact-right input[type=text],
footer input[type=email],
footer select,
footer textarea {
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  resize: none;
}
footer #contact-right input[type=submit] {
  background-color: #fff;
  color: #0b173d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
footer .col-25 {
  float: left;
  width: 25%;
  margin-top: 1em;
}
footer #contact-right textarea {
  height: 20%;
}
footer .col-75 {
  display: flex;
  width: 45%;
  margin-top: 2rem 0rem;
}
footer .row:after {
  content: "";
  display: table;
  clear: both;
}

#footer-lower p {
  color: #c7cbd4;
  font-size: 1.5em;
}/*# sourceMappingURL=style.css.map */