$body-color: #000000;
$wrap-color: #000000;
$nav-bar-color: #161616;
$text: #c7cbd4;
$icons: #e31c25;
$social-icons: #716c6c;
$snow: #f1f1f1;
$common-cell: #1c1c1c;
$web-color: #bb000e;
$bar-color: #282828;


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    
}

@mixin flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    width: 100%;
    background-image: url("../img/background-image.jpg");
    background-size: cover;
    
}
#wrapper{
    background-color: $wrap-color;
    width: 80%;
    margin: 0px auto;
}
header{
    position: fixed;
    background-color: $nav-bar-color;
    top: 0;
    width: 80%;
    padding: 0.5rem 0;
    @include flex;
    #logo{
        font-size: 3rem;
        a{
            text-decoration: none;
            color: $icons;
        }
    }
    nav{
        width: 6    0%;
        @include flex;
        justify-content: end;
        ul{
            list-style-type: none;
            li{
                display: inline;
                margin-left: 2rem;
                font-size: 1rem;
            }
        }
        a{
            text-decoration: none;
            color: $web-color;
            &:hover{
                color: $text;
            }
            &:active{
                color: $icons;
            }
        }
    }
}
main{
    width: 100%;
    padding-top: 4rem;
    #intro{
        @include flex;
        width: 100%;
        color: $text;
        justify-content: space-evenly;
        #main-box-left{
            width: 25%;
            margin-top: 3rem;
            img{
                width: 100%;
            }
        }
        #main-box-right{
            @extend #main-box-left;
            width: 55%;
            h2{
                font-size: 5rem;
            }
            p{
                font-size: 3rem;
                margin-bottom: 1rem;
                .web-color{
                    color:$web-color;
                }
            }
            #button{
                background-color: $icons;
                width: 100%;
                font-size: 1rem;
                padding: 0.3rem;
                border-radius: 0.5rem;
                &:hover{
                    background-color: $snow;
                    color: #000000;
                }
                &:active{
                    background-color: $icons;
                    color: $text;
                }   
                a{
                    text-decoration: none;
                    color: $text;
                }
            }
            .social{
                @include flex;
                justify-content: start;
                margin-top: 1rem;
                .social-network{
                    a {
                        margin-left: 0.5rem;
                        color:$social-icons;
                        i{
                            font-size: 2rem;
                        }
                        &:hover{
                            color: $icons;
                        }
                        &:active{
                            color: $social-icons;
                        }
                    }
                }
            }
        }
    }
    #box-container-upper-heading{   
        scroll-margin-top: 6.2rem;
        width: 100%;
        color: $text;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    #box-container-upper{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        color: $icons;
        .box{
            width: 27%;
            padding: 1rem;
            background-color: $common-cell;
            border-radius: 1rem;
            box-shadow: 0.032rem 0.01rem 0.1rem $snow;
            .seo-class{
                color: $icons;
                font-size: 1.3rem;
            }
            i{
                font-size: 4rem;
                color: $icons;
            }
            h3{
                color: $text;
                margin-top: 1rem;
                font-size: 1.5rem;
            }
            p{
                color: $text;
                margin-top: 1rem;
                font-size: 1rem;
                text-align: justify;
            }
        }
        
    }
    #box-container-lower{
        scroll-margin-top: 4.5rem;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        .box{
            h3{
                text-align: center;
            }
            p{
                text-align: justify;
                margin-top: 1rem;
                text-indent: 10%;
            }
            background-color: $common-cell;
            box-shadow: 0.032rem 0.02rem 0.1rem $snow;
            color: $text;
            width: 43%;
            padding: 1rem;
            border-radius: 1rem;
            font-size: 1rem;
            margin: 1.5rem 0;
            flex-direction: column;
            
        }
        .second{
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: start;
            .project-box{
                width: 100% auto;
                margin: 1.5rem 0.2rem;
                img{
                    width: 100%;
                    border-radius: 0.5rem;
                    box-shadow: 0.032rem 0.01rem 0.1rem $snow;
                }
            }
        }
        .skills{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem 0;
            width: 90%;
            
        }
        .skill{
            margin-left: 3rem;
        }
        .skill-name{
            font-size: 1rem;
            font-weight: 500;
            color: $text;
            margin: 1rem 0 0.2rem 0;
        }
        .skill-bar{
            height: 0.7rem;
            background-color: $bar-color;
            border-radius: 0.2rem;
        }
        .first-per{
            max-width: 90%;
        }
        .second-per{
            max-width: 79%;
        }
        .third-per{
            max-width: 87%;
        }
        .fourth-per{
            max-width: 91%;
        }
        .skill-per{
            height: 0.7rem;
            background: $icons;
            border-radius: 0.2rem;
            position: relative;
            animation: fillBars 3s infinite;
            @keyframes fillBars{
                
                from{
                    width: 0;
                }
                to{
                    width: 100%;
                }
            }
        }
        
    }
}
footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: $text;
    #footer-left{
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        padding: 0 1rem;
        #contact-info {
            display: flex;
            flex: 1; 
            ul{
                .table-h{
                    font-size: 1.5rem;
                }
                list-style-type: none;
                margin-top: 1rem;
                word-break: break-word;
                li{
                    list-style: none;
                    color: $text;
                    font-size: 0.9rem;
                    margin-top: 1rem;
                    
                    a{
                        text-decoration: none;
                        color: $text;
                        &:hover{
                            color: $icons;
                        }
                        &:active{
                            color: $text;
                        }
                    }
                }
            }
        } 
    } 
    #contact-form {
        display: flex;
        flex-direction: column;
        align-items: left;
        flex-flow: column wrap;
        padding: 0.5rem;
        #contact-title {
            color: $text;
            text-align: center;
        }
        form{
            input[type=text]{
                height: 1.5rem;
            }
            input[textarea]{
                height: 1.5rem;
                resize: none;
            }
            input[type=email]{
                height: 1.5rem;
            }
            .row{
                display: flex;
                margin-top: 1rem;
                .col-25{
                    @include flex;
                    justify-content: right;
                    flex: 1;
                    margin: 0 1rem 0 0;
                }
                .col-75{
                    @include flex;
                    flex: 1;
                    justify-content: left;
                }
            }
            .submit-button{
                margin: 1rem auto;
                width: 100%;
                text-align: center;
                input[type=submit]{
                    background-color: #1e1e1e;
                    color: $text;
                    &:hover{
                        background-color: $snow;
                        color: #161616;
                    }
                    
                }
                
            }
        }
    }
    #footer-right{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        word-break: break-word;
        color: $text;
        padding: 0 1rem;
        #requested{
            font-size: 2.3rem;
            i{
                color: $icons;
            }
        }
        
    }
}
@media screen and (max-width: 992px){
    header{
        flex-direction: column;
        padding: 0.4rem 0;
        #logo{
            font-size: 2rem;
        }
    }
    main{
        margin-top: 4rem;
        #intro{
            #main-box-left{
                    margin-top: 1rem;
                    width: 30%;
            }
            #main-box-right{
                margin-top: 0rem;
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
                #button{
                    font-size: 0.8rem;
                }
                .social{
                    margin-top: 0.8rem;
                    .social-network{
                        a{
                            i{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                
            }
        }
        #box-container-upper-heading{ 
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 1.5rem; 
            scroll-margin-top: 8rem;
        }
        #box-container-upper{
            .box{
                .seo-class{
                    font-size: 0.9rem;
                }
                i{
                    font-size: 3.1rem;
                }
                h3{
                    margin-top: 0.8rem;
                    font-size: 1.1rem;
                }
                p{
                    margin-top: 0.8rem;
                    font-size: 0.8rem;
                }
            }
        }
        #box-container-lower{
            .box{
                h3{
                    font-size: 1rem;
                }
                p{
                    margin-top: 0.8rem;
                    font-size: 0.8rem;
                }
                margin: 1.2rem 0;
            }
            .second{
                .project-box{
                    margin: 2rem 0.2rem;
                    img{
                        width: 100%;
                        border-radius: 0.8rem;
                        height: 130%;
                    }
                }
            }
            .skills{
                margin: 0.7rem 0 0;
                width: 85%;
                
            }
            .skill{
                margin-left: 2.8rem;
            }
            .skill-name{
                font-size: 0.7rem;
                font-weight: 500;
                margin: 0.5rem 0 0.2rem 0;
            }
            .skill-bar{
                height: 0.5rem;
                border-radius: 0.13rem;
            }
            .first-per{
                max-width: 90%;
            }
            .second-per{
                max-width: 79%;
            }
            .third-per{
                max-width: 87%;
            }
            .fourth-per{
                max-width: 91%;
            }
            .skill-per{
                height: 0.5rem;
            }
        }
    }
    footer{
        #footer-left{
            margin-top: 1rem;
            #contact-info{
                ul{
                    .table-h{
                        font-size: 1rem;
                    }
                    li{
                        font-size: 0.8rem;
                    }
                   
                    
                }
            }
        }
        #contact-form{
            #contact-title {
                font-size: 1rem;
            }
            form{
                input[type=text]{
                    height: 1rem;
                }
                input[textarea]{
                    height: 1rem;
                    resize: none;
                }
                input[type=email]{
                    height: 1rem;
                }
                .row{
                    margin-top: 0.7rem;
                    .col-25{
                        margin: 0 0.7rem 0 0;
                    }
                    .col-75{
                        justify-content: left;
                    }
                }
                .submit-button{
                    margin: 0.8rem auto;
                    width: 100%;
                }
            }    
        }
        #footer-right{
            margin-top: 2.2rem;
            #requested{
                font-size: 2rem;
            }
            i{
                font-size: 1.7rem;
            }
            p{
                margin-top: 1rem;
            }
        }
    }
}
@media screen and (max-width: 802px){
    header{
        flex-direction: column;
        #logo{
            font-size: 1.6rem;
        }
        nav{
            ul{
                li{
                    font-size: 0.8rem;
                }
            }
        }
    }
    main{
        margin-top: 1rem;
        #intro{
            #main-box-left{
                    margin-top: 1rem;
                    width: 30%;
            }
            #main-box-right{
                h2{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }
                #button{
                    font-size: 0.67rem;
                }
                .social{
                    margin-top: 0.6rem;
                    .social-network{
                        a{
                            i{
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
                
            }
        }
        #box-container-upper-heading{ 
            text-align: center;
            font-size: 0.8rem;
            margin-bottom: 1.2rem; 
            scroll-margin-top: 5rem;
        }
        #box-container-upper{
            .box{
                width: 24%;
                .seo-class{
                    font-size: 0.8rem;
                }
                i{
                    font-size: 2.7rem;
                }
                h3{
                    margin-top: 0.7rem;
                    font-size: 0.9rem;
                }
                p{
                    margin-top: 0.8rem;
                    font-size: 0.7rem;
                }
            }
        }
        #box-container-lower{
            .box{
                width: 41%;
                h3{
                    font-size: 0.8rem;
                }
                p{
                    margin-top: 0.7rem;
                    font-size: 0.7rem;
                }
                margin: 1rem 0;
            }
            .second{
                .project-box{
                    margin: 2rem 0.2rem;
                    img{
                        width: 100%;
                        border-radius: 0.6rem;
                        height: 130%;
                    }
                }
            }
            .skills{
                margin: 0.6rem 0 0;
                width: 85%;
                
            }
            .skill{
                margin-left: 2.8rem;
            }
            .skill-name{
                font-size: 0.5rem;
                font-weight: 500;
                margin: 0.4rem 0 0.2rem 0;
            }
            .skill-bar{
                height: 0.4rem;
                border-radius: 0.13rem;
            }
            .skill-per{
                height: 0.4rem;
            }
            .first-per{
                max-width: 90%;
            }
            .second-per{
                max-width: 79%;
            }
            .third-per{
                max-width: 87%;
            }
            .fourth-per{
                max-width: 91%;
            }
        }
    }
    footer{
        display: flex;
        #footer-left{
            padding: 0;;
            margin: 0.7rem auto;
            #contact-info{
                ul{
                    margin: 0;
                    .table-h{
                        font-size: 0.7rem;
                    }
                    li{
                        font-size: 0.7rem;
                        margin-top: 0.5rem;
                        word-wrap: break-all;
                    }
                   
                    
                }
            }
        }
        #contact-form{
            align-items: left;
            #contact-title{
                h2{
                    font-size: 0.7rem;
                }
            }
            form{
                input[type=text]{
                    height: 0.7rem;
                    font-size: 0.7rem;
                }
                textarea{
                    height: 2rem;
                    resize: none;
                    font-size: 0.7rem;
                }
                input[type=email]{
                    height: 0.7rem;
                    font-size: 0.7rem;
                }
                .row{
                    margin-top: 0.6rem;
                    
                    font-size: 0.7rem;
                    .col-25{
                        margin: 0 0.7rem 0 0;
                        font-size: 0.7rem;
                    }
                    .col-75{
                        justify-content: left;
                        font-size: 0.7rem;
                    }
                }
                .submit-button{
                    margin: 0.6rem auto;
                    width: 100%;
                }
            }    
        }
        #footer-right{
            margin: 0.5rem auto;
            i{
                font-size: 1.5rem;
            }
            p{
                margin-top: 0.8rem;
                font-size: 0.7rem;
            }
        }
    }
}
@media screen and (max-width: 652px){
    header{
        #logo{
            font-size: 1.5rem;
        }
        nav{
            ul{
                li{
                    font-size: 0.69rem;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    
}
@media screen and (max-width: 480px){
    
}
@media screen and (max-width: 414px){
    
}
@media screen and (max-width: 411px){
    header{
        flex-direction: column;
        nav {
            text-align: center;
            ul{
            flex-direction: column;
            margin: 0px auto;
            li{
                display: block;
                margin: 5px 0px;
            }
        }
        }
    }
    
}