$body-color: #000000;
$wrap-color: #000000;
$nav-bar-color: #161616;
$text: #c7cbd4;
$icons: #e31c25;
$snow: #ffffff;
$common-cell: #1c1c1c;
$web-color: #bb000e;

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    
}

@mixin flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    width: 100%;
    background-image: url("../img/background-image.jpg");
    background-size: cover;
    
}
#wrapper{
    background-color: $wrap-color;
    width: 80%;
    margin: 0px auto;
    background-color: $wrap-color;
}
header{
    position: fixed;
    background-color: $nav-bar-color;
    top: 0;
    width: 80%;
    padding: 0.7rem 0;
    @include flex;
    #logo{
        
        font-size: 3rem;
        a{
            text-decoration: none;
            color: $icons;
        }
    }
    nav{
        width: 50%;
        @include flex;
        justify-content: end;
        ul{
            list-style-type: none;
            li{
                display: inline;
                margin-left: 2rem;
                font-size: 1rem;
            }
        }
        a{
            text-decoration: none;
            color: $web-color;
            padding: 0.5rem;
            &:hover{
                color: $text;
            }
            &:active{
                color: $icons;
            }
        }
    }
}
main{
    width: 100%;
    
    padding-top: 5rem;
    #intro{
        @include flex;
        width: 100%;
        color: $text;
        justify-content: space-evenly;
        #main-box-left{
            width: 25%;
            margin-top: 3rem;
            img{
                width: 100%;
            }
        }
        #main-box-right{
            @extend #main-box-left;
            width: 55%;
            h2{
                font-size: 5rem;

            }
            p{
                font-size: 3rem;
                margin-bottom: 1rem;
                .web-color{
                    color:$web-color;
                }
            }
            #button{
                background-color: $icons;
                width: 100%;
                font-size: 1rem;
                padding: 0.3rem;
                border-radius: 0.5rem;
                &:hover{
                    background-color: $snow;
                    color: #000000;
                }
                &:active{
                    background-color: $icons;
                    color: $text;
                }   
                a{
                    text-decoration: none;
                    color: $text;
                    
                }
            }
            .social{
                @include flex;
                justify-content: start;
                margin-top: 1rem;
                .social-network{
                    a {
                        margin-left: 0.5rem;
                        i{
                            font-size: 2rem;
                        }
                        color: $text;
                        &:hover{
                            color: $icons;
                        }
                        &:active{
                            color: $text;
                        }
                    }
                }
            }
        }
    }
    #box-container-upper-heading{   
        scroll-margin-top: 6.2rem;
        width: 100%;
        color: $text;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    #box-container-upper{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        color: $icons;
        .box{
            width: 27%;
            padding: 1rem;
            background-color: $common-cell;
            border-radius: 1rem;
            font-size: 1rem;
            box-shadow: 0.033rem 0.01rem 0.1rem $snow;
            .seo-class{
                color: $icons;
                font-size: 1.3rem;
            }
            i{
                font-size: 4rem;
                color: $icons;
            }
            h3{
                color: $text;
                margin-top: 1rem;
                font-size: 1.5rem;
            }
            p{
                color: $text;
                margin-top: 1rem;
            }
        }
        
    }
    #box-container-lower{
        scroll-margin-top: 4.5rem;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        .box{
            display: block;
            h3{
                text-align: center;
            }
            p{
                text-align: justify;
                margin-top: 1rem;
            }
            background-color: $common-cell;
            box-shadow: 0.033rem 0.02rem 0.1rem $snow;
            color: $text;
            width: 43%;
            padding: 1rem;
            border-radius: 1rem;
            font-size: 1rem;
            margin: 1.5rem 0rem;
            flex-direction: column;
            
        }
        .second{
            display: block;
            text-align: center;
            .project-box{
                width: 100% auto;
                margin: 1rem 0.2rem;
                img{
                    width: 100%;
                    border-radius: 1rem;
                    box-shadow: 0.032rem 0.01rem 0.1rem $snow;
                }
            }
        }
    }
}
footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: $text;
    #footer-left{
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-flow: column wrap;
        #contact-info {
            display: flex;
            flex: 1; 
            ul{
                .table-h{
                    font-size: 1.5rem;
                }
                list-style-type: none;
                margin-top: 1rem;
                li{
                    list-style: none;
                    color: $text;
                    font-size: 1rem;
                    margin-top: 0.5rem;
                    
                    a{
                        text-decoration: none;
                        color: $text;
                        &:hover{
                            color: $icons;
                        }
                        &:active{
                            color: $text;
                        }
                    }
                }
            }
        } 
    } 
    #contact-form {
        display: flex;
        flex-direction: column;
        align-items: left;
        flex-flow: column wrap;
        #contact-title {
            color: $text;
            text-align: center;
        }
        form{
            input[type=text]{
                height: 1.5rem;
            }
            input[textarea]{
                height: 1.5rem;
                resize: none;
            }
            input[type=email]{
                height: 1.5rem;
            }
            .row{
                display: flex;
                margin-top: 1rem;
                .col-25{
                    @include flex;
                    justify-content: right;
                    flex: 1;
                    margin: 0.5rem 2rem 0 0;
                }
                .col-75{
                    @include flex;
                    flex: 1;
                    justify-content: left;
                    margin: 0 2rem 0 0;
                }
            }
            .submit-button{
                margin: 1rem auto;
                width: 100%;
                text-align: center;
                input[type=submit]{
                    background-color: #1e1e1e;
                    color: $text;
                    &:hover{
                        background-color: $snow;
                        color: #161616;
                    }
                    
                }
                
            }
        }
    }
    #footer-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $text;
        #requested{
            font-size: 2.3rem;
            i{
                color: $icons;
            }
        }
        p{
            margin-top: 1rem;
        }
    }
}