* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-image: url("../img/background-image.jpg");
  background-size: cover;
}

#wrapper {
  background-color: #000000;
  width: 80%;
  margin: 0px auto;
  background-color: #000000;
}

header {
  position: fixed;
  background-color: #161616;
  top: 0;
  width: 80%;
  padding: 0.7rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #logo {
  font-size: 3rem;
}
header #logo a {
  text-decoration: none;
  color: #e31c25;
}
header nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: end;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline;
  margin-left: 2rem;
  font-size: 1rem;
}
header nav a {
  text-decoration: none;
  color: #bb000e;
}
header nav a:hover {
  color: #c7cbd4;
}
header nav a:active {
  color: #e31c25;
}

main {
  width: 100%;
  padding-top: 5rem;
}
main #intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #c7cbd4;
  justify-content: space-evenly;
}
main #intro #main-box-left, main #intro #main-box-right {
  width: 25%;
  margin-top: 3rem;
}
main #intro #main-box-left img, main #intro #main-box-right img {
  width: 100%;
}
main #intro #main-box-right {
  width: 55%;
}
main #intro #main-box-right h2 {
  font-size: 5rem;
}
main #intro #main-box-right p {
  font-size: 3rem;
  margin-bottom: 1rem;
}
main #intro #main-box-right p .web-color {
  color: #bb000e;
}
main #intro #main-box-right #button {
  background-color: #e31c25;
  width: 100%;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
main #intro #main-box-right #button:hover {
  background-color: #ffffff;
  color: #000000;
}
main #intro #main-box-right #button:active {
  background-color: #e31c25;
  color: #c7cbd4;
}
main #intro #main-box-right #button a {
  text-decoration: none;
  color: #c7cbd4;
  padding: 2rem;
}
main #intro #main-box-right .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.6;
  justify-content: start;
  margin-top: 1rem;
}
main #intro #main-box-right .social .social-network a {
  margin-left: 0.5rem;
  color: #c7cbd4;
}
main #intro #main-box-right .social .social-network a i {
  font-size: 2rem;
}
main #intro #main-box-right .social .social-network a:hover {
  color: #e31c25;
}
main #intro #main-box-right .social .social-network a:active {
  color: #c7cbd4;
}
main #box-container-upper-heading {
  scroll-margin-top: 6.2rem;
  width: 100%;
  color: #c7cbd4;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
main #box-container-upper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: #e31c25;
}
main #box-container-upper .box {
  width: 27%;
  padding: 1rem;
  background-color: #1c1c1c;
  border-radius: 1rem;
  font-size: 1rem;
  box-shadow: 0.033rem 0.01rem 0.1rem #ffffff;
}
main #box-container-upper .box .seo-class {
  color: #e31c25;
  font-size: 1.3rem;
}
main #box-container-upper .box i {
  font-size: 4rem;
  color: #e31c25;
}
main #box-container-upper .box h3 {
  color: #c7cbd4;
  margin-top: 1rem;
  font-size: 1.5rem;
}
main #box-container-upper .box p {
  color: #c7cbd4;
  margin-top: 1rem;
}
main #box-container-lower {
  scroll-margin-top: 4.5rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
main #box-container-lower .box {
  display: block;
  background-color: #1c1c1c;
  box-shadow: 0.033rem 0.02rem 0.1rem #ffffff;
  color: #c7cbd4;
  width: 43%;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 1.5rem 0rem;
  flex-direction: column;
}
main #box-container-lower .box h3 {
  text-align: center;
}
main #box-container-lower .box p {
  text-align: justify;
  margin-top: 1rem;
}
main #box-container-lower .second {
  display: block;
  text-align: center;
}
main #box-container-lower .second .project-box {
  width: 100% auto;
  margin: 1rem 0.2rem;
}
main #box-container-lower .second .project-box img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0.032rem 0.01rem 0.1rem #ffffff;
}
main #box-container-lower .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
main #box-container-lower .skill {
  margin-left: 3rem;
}
main #box-container-lower .skill-name {
  font-size: 1rem;
  font-weight: 500;
  color: #c7cbd4;
  margin: 1rem 0 0.2rem 0;
}
main #box-container-lower .skill-bar {
  height: 0.7rem;
  background-color: #282828;
  border-radius: 0.2rem;
}
main #box-container-lower .first-per {
  max-width: 90%;
}
main #box-container-lower .second-per {
  max-width: 79%;
}
main #box-container-lower .third-per {
  max-width: 87%;
}
main #box-container-lower .fourth-per {
  max-width: 91%;
}
main #box-container-lower .skill-per {
  height: 0.7rem;
  background: #e31c25;
  border-radius: 0.2rem;
  position: relative;
  animation: fillBars 3s infinite;
}
@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: #c7cbd4;
}
footer #footer-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-flow: column wrap;
}
footer #footer-left #contact-info {
  display: flex;
  flex: 1;
}
footer #footer-left #contact-info ul {
  list-style-type: none;
  margin-top: 1rem;
}
footer #footer-left #contact-info ul .table-h {
  font-size: 1.5rem;
}
footer #footer-left #contact-info ul li {
  list-style: none;
  color: #c7cbd4;
  font-size: 1rem;
  margin-top: 0.5rem;
}
footer #footer-left #contact-info ul li a {
  text-decoration: none;
  color: #c7cbd4;
}
footer #footer-left #contact-info ul li a:hover {
  color: #e31c25;
}
footer #footer-left #contact-info ul li a:active {
  color: #c7cbd4;
}
footer #contact-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-flow: column wrap;
}
footer #contact-form #contact-title {
  color: #c7cbd4;
  text-align: center;
}
footer #contact-form form input[type=text] {
  height: 1.5rem;
}
footer #contact-form form input[textarea] {
  height: 1.5rem;
  resize: none;
}
footer #contact-form form input[type=email] {
  height: 1.5rem;
}
footer #contact-form form .row {
  display: flex;
  margin-top: 1rem;
}
footer #contact-form form .row .col-25 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: right;
  flex: 1;
  margin: 0.5rem 2rem 0 0;
}
footer #contact-form form .row .col-75 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  justify-content: left;
  margin: 0 2rem 0 0;
}
footer #contact-form form .submit-button {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}
footer #contact-form form .submit-button input[type=submit] {
  background-color: #1e1e1e;
  color: #c7cbd4;
}
footer #contact-form form .submit-button input[type=submit]:hover {
  background-color: #ffffff;
  color: #161616;
}
footer #footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c7cbd4;
}
footer #footer-right #requested {
  font-size: 2.3rem;
}
footer #footer-right #requested i {
  color: #e31c25;
}
footer #footer-right p {
  margin-top: 1rem;
}/*# sourceMappingURL=style.css.map */